In [36]:
import sys
sys.path.append("..")
import pickle
import pandas as pd
from utils.metric import Confusion

In [37]:
with open('agnewsdataraw-8000' + '.pickle', 'rb') as handle:
    b = pickle.load(handle)

In [38]:
df = pd.DataFrame(b)

In [16]:
# df.to_csv('agnewsdataraw-8000.csv')

In [40]:
confusion = Confusion(4)
confusion.add(b['pred'], b['label'])
confusion.optimal_assignment(4)
acc_model = confusion.acc()
acc_model

0.878

In [28]:
label, pred = confusion.conf2label()

In [31]:
df.label = label
df.pred = pred

In [30]:
pred

tensor([ 0.,  0.,  0.,  ..., 88., 88., 88.])

In [32]:
df

                                                   text0  pred  label
0      centrepoint winter white gala london american ...   0.0    0.0
1      prince william taylor swift perform jon bon jo...   0.0    0.0
2      taylor swift prince william funny sweeter fict...   0.0    0.0
3      taylor swift breathtaking white gown meet prin...   0.0    0.0
4      taylor swift dazzle gold gown prince william c...   0.0    0.0
...                                                  ...   ...    ...
11104  wild domestic turkey bird feather sitting enjo...  44.0  151.0
11105  wild turkey wild turkey eat remnant harvested ...  44.0  151.0
11106  wild turkey thanksgiving corner thought natura...  88.0  151.0
11107  wild turkey plentiful michigan lansing mich ap...  88.0  151.0
11108  wild thanksgiving turkey turkey cooked eaten u...  88.0  151.0

[11109 rows x 3 columns]

In [33]:
df.to_csv('TS.csv')